<div class="space-y-6">

  <div class="flex flex-col sm:flex-row sm:items-center justify-between gap-4">
    <div>
      <h1 class="text-2xl font-bold text-gray-900">Purchase Requests</h1>
      <p class="text-sm text-gray-500 mt-1">Manage and track all internal procurement requests.</p>
    </div>

    <button
      class="bg-brand-600 hover:bg-brand-800 text-white px-4 py-2 rounded-lg text-sm font-medium transition-colors shadow-sm flex items-center gap-2">
      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
      </svg>
      Raise Request
    </button>
  </div>

  <app-data-table [columns]="prqColumns" [data]="prqData" [selectable]="true" [showPagination]="true" [currentPage]="0"
    [totalPages]="1" [totalElements]="5" [pageSize]="10" (actionClicked)="handleTableAction($event)"
    (pageChanged)="handlePageChange($event)">
  </app-data-table>

</div>